<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div *ngIf="dataLocalService.noticias.length === 0">
    No hay registros
  </div>

  <ion-slides 
              [options]="sliderOpts"
              *ngIf="dataLocalService.noticias.length === 0"> 
    <ion-slide>
      <h1>No hay registros</h1>
    </ion-slide>
  </ion-slides>

  <app-noticias   
                  [enFavoritos]="true"
                  *ngIf="dataLocalService.noticias.length > 0"
                   [noticias]="dataLocalService.noticias"></app-noticias>
   
</ion-content>
